<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Unoesc TDD</title>

</head>
<body>

	<form method="post" action="save">
		
		<label>
			Código
			<input type="text" name="codigo" />
		</label>
		
		<label>
			Nome
			<input type="text" name="nome" />
		</label>
		
		<button type="submit">Salvar</button>
		<button type="reset">Cancelar</button>
		
	</form>

</body>
</html>